<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DB connection</title>
</head>
<body>
<a href="/">Home</a>
    <h1>DB Connection Site</h1>
    <h3>student 단일 조회 결과</h3>
    <ul>
        <li>
            name :
            <span th:text="${student.getName()}"></span>
        </li>
        <li>
            name :
            <span th:text="${student.getStudentCode()}"></span>
        </li>
    </ul>
    <h3>student 복수 조회</h3>
    <h4 th:each="user : ${students}">
        <ul>
            <li>name : [[${user.name}]]</li>
            <li>studentCode : [[${user.studentCode}]]</li>
        </ul>
    </h4>
</body>
</html>