<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hello</title>
</head>
<body>
<h1>tomcat9.0.52 _ java war 11</h1>
<ul>
    <li>
        <a href="/admin/hello">Hello Page </a>
    </li>
    <li>
        <a href="/admin/hello/db">db Connection </a>
    </li>
</ul>

</body>
</html>