<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TemplateSite</title>
</head>
<body>
<h1>login Site</h1>
<div th:if="${param.error}">
    아이디 와 비밀 번호를 확인해주세요
</div>
<form action="/login" method="post">
    <label for="">학번</label>
    <input type="number" name="username"><br>
    <label for="">비밀 번호</label>
    <input type="password" name="password"><br>
    <input type="submit" value="login"><br>
    <input type="button" value="signup" onclick="location.href='/signup'"><br>
</form>
</body>
</html>