<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>졸업 작품 업로드</title>
</head>
<body>
<h1>졸업 업로드를 위한 회원 가입 폼</h1>
<form action="/signup" method="post">
    <label for="">이름</label>
    <input type="text" name="name"><br>
    <label for="">학번</label>
    <input type="number" name="studentCode"><br>
    <label for="">이메일</label>
    <input type="text" name="email"><br>
    <label for="">비밀번호</label>
    <input type="password" name="password"><br>
    <label for="">전화 번호</label>
    <input type="text" name="phoneNumber"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>